.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 4px;
  padding: 4rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  width: 100rem;
  height: 70rem;
}
