/* .table-container {
  height: 80%;
  width: 100%;
  overflow: auto;
} */

.restaurant-table {
  display: inline-block;
  overflow-y: auto;
  overflow-x: hidden;
  height: 90%;
  border-collapse: collapse;
}

th {
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff;
  padding: 0.5rem;
  background-color: #5661b3;
}

td {
  padding: 0 2rem;
  font-size: 1.5rem;
  border: 1px solid #e6e8ff;
}
